@font-face {
    font-family: camcorder;
    src: url(./fonts/camcorder_reg_web-webfont.ttf);
}

@font-face {
    font-family: camcorderOutline;
    src: url(./fonts/camcorder_ol2_web-webfont.ttf);
}

@font-face {
    font-family: camcorderBackground;
    src: url(./fonts/camcorder_inv_web-webfont.ttf);
}

html {
  background: url(wave.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: monospace;
}

body{
    width:450px;
    margin-left: auto;
    margin-right: auto;
}

section{
  float: left;
  width: 100%;
  background: white;
  border: 10px solid rgba(255, 255, 255, .5);
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  padding: 10px;
  margin: 10px;
}

section.work{
  font-family: camcorder;
}

section.work h1{
  font-family: camcorderBackground;
}

section.work h2{
  text-align: right;
  font-size: small;
  color:grey;
}

section#header{
  width:90%;
  font-family: camcorderOutline;
}

article{
  display: block;
}

section h1{
    font-family: camcorderOutline;
}

section img{
  width: 100%;
}
